html{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fcfcf;
}

main{

}
section{
	margin: 50px 0;
	padding: 50px 0;
}

h1{
	font-size: 55px;
	margin-top: 0;
}
h2{
	font-size: 25px;
}
h3{
	margin-bottom: 50px; 
}
ul{
	margin: 0;
	padding: 0;
}
a{
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
}
p{
	font-size: 20px;
}

.main{
	background-image:;
}

.header{
	margin-top: 0px;
}
.logo a{
	display: block;
	margin:0; 
	color: black;
	font-size: 35px;
}
.logo p{
	margin-top: -5px;
	font-size: 15px;
	font-weight: lighter;
}

.phone_button a{
	display: block;
	margin: 15px 0;
	padding: 5px 10px;
	width: 100%;
	outline:none;
	background-color: green; 
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: lighter;
}

.phone{
	text-align: right;
}

.phone a{
	display: block;
	color: black;
	font-size: 25px;
	font-weight: bold;
}
.phone p{
	margin-top: 0px;
	font-size: 15px;
	font-weight: lighter;
}

.modal-body input{
	display: block;
	margin: 15px 0;
	padding: 10px 20px;
	width: 100%;
	outline:none;
	border: 1px solid green;
	border-radius: 50px;
}
.modal-body button{
	display: block;
	margin: 15px 0;
	padding: 10px 20px;
	width: 100%;
	outline:none;
	background-color: green;
	border: 1px solid green;
	border-radius: 50px;
	color: white;
	font-size: 20px;
}

.menu{
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}
.menu a{
	margin: 0 20px;
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
.menu a:hover{
	color: orange;
}

.main-content{
	margin: 30px 0;
	
}
.main-title p{
	margin: 40px 0; 
	font-size: 25px;
}

.main-title span{
	display: inline-block;
	margin: 0 0 30px 0; 
	padding: 15px 15px;
	width: 150px;
	text-align: center;
	font-size: 18px;
	background-color: green;
	border-radius: 5px;
	color: white;
}

.main-form{
	padding: 20px 15px;
	text-align: center;
	border: 2px solid orange;
	border-radius: 20px;
	background-color: orange;
	box-shadow: 0 5px 15px orange;

}
.main-form input{
	display: block;
	margin: 15px 0;
	padding: 10px 20px;
	width: 100%;
	outline:none;
	border: 1px solid green;
	border-radius: 50px;
}
.main-form button{
	display: block;
	margin: 15px 0;
	padding: 10px 20px;
	width: 100%;
	outline:none;
	background-color: #009C00;
	border: 1px solid green;
	border-radius: 50px;
	color: white;
	font-size: 20px;
}
.main-form button:hover{
	background-color: #2DB42D;
}
.main-form button:active{
	background-color: green;
}

.advantage p{
	font-weight: lighter;
}

.advantage img{
	margin: 50px 0;
	height: 100px;
}

.prise{

}

.clock{
	background-color: green;
}
.time{
	color: white;
}
.time p{
	margin: 30px 0;
}

.good p{
	font-weight: lighter;
}

.good img{
	margin: 50px 0;
	height: 90px;
}


.about_us p{

}
.about_us span{
	display: block;
	padding-bottom: 10px;
	font-size: 40px;
	text-align: center;
	border: 2px solid orange;
	border-radius: 20px;
}

.my_work img{

}
.feedback{
background-color: ;
}
.feedback-prev-btn{
	left: -50px;
}
.feedback-next-btn{
	right: -50px;
}
.feedback-slider-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	background-color: white;
	border: none;
}
.feedback-slider-btn img{
	width: 100%;
}
.media{
	margin-top: 50px;
}
.media img{
	height: 80px;
}
.media-body p{
	font-style: italic;
}


.about_us-form{
	padding: 20px 15px;
	text-align: center;
	border: 2px solid orange;
	border-radius: 20px;
	background-color: orange;
	box-shadow: 0 5px 15px orange;

}

.about_us-form input{
	margin: 15px 0;
	padding: 10px 20px;
	width: 30%;
	outline:none;
	border: 1px solid green;
	border-radius: 50px;
}
.about_us-form button{
	display: inline-block;
	margin: 15px 0;
	padding: 10px 20px;
	width: 30%;
	outline:none;
	background-color: #009C00;
	border: 1px solid green;
	border-radius: 50px;
	color: white;
	font-size: 18px;
}
.about_us-form button:hover{
	background-color: #2DB42D;
}
.about_us-form button:active{
	background-color: green;
}
.contact p{
	text-align: center;
	font-size: 30px;
}

.contact a{
	margin: 30px 0;
	text-align: center;
	padding: 10px 20px;
	width: 100%;
	outline:none;
	background-color: green; 
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: lighter;
}

.footer{
	background-color: green;
}
.footer p{
	color: white;
}
.footer a{
	display: block;
	font-size: 25px;
	color: white;

}







@media (max-width: 991.98px) {

h1{
	font-size: 30px;
	text-align: center;
}
h2{
	font-size: 20px;
}
a{

}

.logo{
	text-align: center;
}

.phone{
	text-align: center;
}

.main-title p{
	font-size: 20px;
	text-align: center;
}
.main-title span{
	margin-left: 10%;
	padding: 0px 0px;
	width: 80%;
}
.main-form p{
	font-size: 15px;
}
.about_us p{
	text-align: center;
}
..about_us-form p{
	font-size: 10px;
}

.about_us-form input{
	width: 100%;
	}
.about_us-form button{
	display: inline-block;
	width: 100%;

}
}